<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="edu.miu.cs544.temesgen.service.Game" id="game">
        <constructor-arg ref="car" />
    </bean>

    <bean id="bike" class="edu.miu.cs544.temesgen.service.Bike">

    </bean>

    <bean id="car" class="edu.miu.cs544.temesgen.service.Car">

    </bean>
</beans>